.advanced-author-listing{border:solid 1px #00467F;padding:10px;border-color:rgba(0, 70, 127, 0.7); margin-bottom : 10px}
.advanced-author-listing-image{float:left;padding:0 10px 10px 0;max-width:260px; min-width:35px}
.advanced-author-listing-info{}
.advanced-author-listing-info h4{margin-top:0;padding-top:0;}
.advanced-author-listing-contacts{}

.advanced-author-listing-contacts {clear:left;}
.advanced-author-listing-contacts li {float:left;margin-right:5px}
.advanced-author-listing-contacts li a img {background: url(images/sprites.png) no-repeat top left;}

.advanced-author-listing-contacts li a img.author-sprite-email{ background-position: 0 0;  }
.advanced-author-listing-contacts li a img.author-sprite-facebook{ background-position: 0 -17px;  }
.advanced-author-listing-contacts li a img.author-sprite-linkedin{ background-position: 0 -34px;  }
.advanced-author-listing-contacts li a img.author-sprite-twitter{ background-position: 0 -51px;  }

.clean {clear:both}